@font-face {
  font-family: komika;
  src: url("/fonts/KOMIKAX_.ttf");
}

body {
  background-color: black;
  color: rgb(21, 36, 46);
  font-size: 2em;
  margin: unset;
}

.komika {
  font-family: "komika", "Times New Roman", Times, serif;
}

.popupWindow {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: 1em;
  padding: 1em;
  background-color: rgb(0, 0, 0);
  overflow-y: auto;
}

.popupWindow > .title {
  text-align: center;
}

.popupWindow > .closeButton {
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 0.5em;
}

.popupWindow > .closeButton::after {
  font-weight: bold;
  content: "✖";
}

